.productFilter {
  display: flex;
  gap: 10px;
}

.productsListWrapper {
  width: 600px;
  height: 400px;
  margin: 20px 0;
  overflow-y: auto;
}
.productsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productList_item {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 5px;
  transition: all 0.6s;
}
.productList_item:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.2s;
}
.productList_item.isSelected {
  background-color: #111;
  color: #fff;
}

.Polaris-Thumbnail > .Polaris-Icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.productSelecterButtons {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 0;
  padding: 10px;
}
