.productFilter {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px 10px 0 0;
  display: flex;
  gap: 10px;
  padding: 15px 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.productsListWrapper {
  width: 600px;
  height: 100%;
  max-height: calc(70vh - 100px);
  margin: 52px 0;
  overflow-y: scroll;
  padding: 0 10px 52px;
}
.productsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productList_item {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 5px;
  transition: all 0.6s;
}
.productList_item:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.2s;
}
.productList_item.isSelected {
  background-color: #111;
  color: #fff;
}

.Polaris-Thumbnail > .Polaris-Icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.productSelecterButtons,
.popover .Polaris-ButtonGroup {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 0;
  padding: 10px 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
