.imageFilter {
  border-bottom: 1px solid var(--p-color-border);
  padding: 0 0 20px;
  margin-bottom: 20px;
}
.imageFilter_params {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.imageFilter_params li {
  align-items: center;
  display: flex;
  gap: 4px;
}
.imageFilter_params input,
.imageFilter_params select {
  padding: 0.25em;
}
.imageFilter_sub {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}

.loadMore {
  margin: 20px 0 0;
  padding: 20px 0;
  text-align: center;
}
.loadMore button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5em 3em;
}
