.galleryTags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin: 20px auto 0;
}
.galleryTag {
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.8em;
  color: #333;
  cursor: pointer;
}
.galleryTag.selected {
  background-color: #f0f0f0;
  font-size: 0.8em;
  font-weight: bold;
}
